body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.container{
    margin: 100px;
}

.navbar {
        display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    width: 100%;
    padding: 30px 100px;
    box-sizing: border-box;
}

.img-cont{
    width: 70px;
}

.img-fluid{
    width: 100%;
}

ul{
    list-style: none;
    margin-block-start: 0;
    padding-inline-start: 0;
    margin: 0;
}

li {
    display: inline-block;
    margin-right: 10px;
}

.section1{
    display: flex;
    gap: 20px;
}

.left{
    display: flex;
    flex-direction: column;
    grid-auto-flow: 15px;
    flex: 70%;
}

.img-cont1{
    width: 100%;
}

.caption{
    display: flex;
    gap: 10px;
    /* align-items: center; */
    padding: 15px 0px;
}

.boldText{
    font-size: 46px;
    font-weight: 900;
    width: 70%;
    flex: 50%;
}

.boldText h3{
    max-width: 300px;
    margin: 0;
    padding: 0;
}

.label{
    color: #7c7a7a;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    justify-content: space-between;
    flex: 50%;
}

.label p{
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    padding-top: 0;
    margin: 0;
}

button{
    width: 200px;
    padding: 15px;
    background-color: red;
    color: white;
    letter-spacing: 3px;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
}

.right{
    background-color: black;
    padding: 15px 25px;
    flex: 30%;
}

.right h2{
    color: orange;
    font-size: 30px;
}

.right-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.list-item{
    padding: 30px 0;
    width: 100%;
    border-bottom: 1px solid gray;
}

.list-item:last-child{
    border: none;
}

.list-item p{
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin: 0px 0px 10px 0px;
}

.list-item span{
    color: gray;
    font-size: 16px;
    line-height: 25px;
}

#section2{
    margin: 60px 0px;
    display: flex;
}

.item{
    flex: 33.3%;
    display: flex;
    gap: 20px;
    align-items: center;
}

.item-img-cont{
    width: 130px;
}

.item-content h2, .item-content h3, .item-content p{
    padding: 0;
    margin: 0;
}

.item-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-content h2{
    font-size: 30px;
    color: #dfdadc;
    font-weight: 900;
}

.item-content p {
    line-height: 25px;
}
